/*
 *
 * Common
 *
 */

body,
html {
    margin: 0;
    padding: 0 0.5em;
    width: 100%;
    height: 100%;
    font-family: Nixie One;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #2d3c49;
}


/*
 *
 * Header
 *
 */

.header {
    border-bottom: solid 2px #7d97ad;
    padding: 1em 0 0.5em;
    width: 100%;
}

.header__icon {
    font-size: 4em;
    color: #02b3e4;
    width: 20%;
}

.header__text {
    width: 80%;
    text-align: right;
    color: #2d3c49;
}

.text__name {
    margin: 0;
    padding: 0.3em 0 0.2em;
    font-size: 2em;
}

.text__position {
    margin: 0;
}


/*
 *
 * Main
 *
 */

main {
    width: 100%;
}

/*
 *
 * Aside
 *
 */
.profile {
    width: 100%;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: solid 2px #7d97ad;
}

.profile__image {
    width: 50%;
}

.pic {
    width: 100%;
    border: solid 1px black;
}

.profile ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 50%;
}

.profile__item {
    margin-bottom: 0.5em;
}

.item__icon {
    font-size: 1em;
    color: #02b3e4;
    text-align: center;
    width: 20%;
}

.item__text {
    font-size: 13px;
    width: 80%;
    color: #2d3c49;
    padding-top: 3px;
}


/*
 *
 *  Cotent
 *
 */

.content {
    width: 100%;
    margin-top: 0.5em;
}

.responsive__placement {
    order: -1;
    width: 100%;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: solid 2px #7d97ad;
}

.placement__image {
    width: 100%;
}


/*
 *
 * Image
 *
 */

.main__image {
    display: none;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}


/*
 *
 * Work
 *
 */

.work__title {
    width: 100%;
    margin: 0 0 10px;
    color: #7d97ad;
}

.work__item {
    width: 100%;
    margin-bottom: 1em;
}

.item__image {
    width: 100%;
}

.item__title{
    width: 100%;
    text-align: center;
    margin: 5px 0 5px;
    color: #2d3c49;
}

.item__link {
    margin: 0;
    text-align: center;
    font-size: 10px;
}


/*
 *
 * Footer
 *
 */

.footer {
    border-top: 2px solid #7d97ad;
    width: 100%;
    margin: 0 0 1em;
}

.footer ul {
    margin: 1em 0;
    padding: 0;
    text-align: center;
}

.footer li {
    display: inline-flex;
    margin: 0 1em;
}

