body,
.header,
main,
.profile,
.profile__item,
.work {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 330px) {
    .header__icon {
        font-size: 3em; 
    }

    .text__name {
        font-size: 1.5em;
    }

    .text__position {
        font-size: 0.7em;
    }

    .work__title {
        font-size: 1.3em;
    }

    .item__text {
        font-size: 12px;
    }

    .footer a {
        font-size: 13px;
    }
}


@media screen and (min-width: 426px) {
    .profile {
        width: 30%;
    }

    .profile__image {
        width: 100%;
    }

    .profile ul {
        width: 100%;
    }

    .responsive__placement {
        display: block;
        width: 70%;
        padding: 0.5em 0 0.5em 0.5em;
        border-bottom: solid 2px #7d97ad;
        order: 0;
        margin: 0;
    }

    .placement__image {
        width: 100%;
    }

    .work__item {
        width: 49%;
    }

    .item__movie {
        margin-right: 2%; 
    }
}


@media screen and (max-width: 600px) {
    .profile__item {
        padding-bottom: 0.2;
    }

    .profile__item {
        margin-bottom: 0.2em;
    }

    .item__icon {
        font-size: 0.9em;
    }

    .item__text {
        font-size: 10px;
    }
}


@media screen and (min-width: 900px) {
    body {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        margin: 1em 0 0 20%;
        min-height: 60px;
    }

    .profile {
        width: 20%;
        height: 10%;
        padding-right: 0.5em;
        margin: 0;
        border: none;
    }

    .profile__image {
        width: 100%;
    }

    .responsive__placement {
        display: none;
    }

    .profile ul {
        margin: 1em 0;
        width: 100%;
    }

    .content {
        width: 80%;
        margin: 0;
    }

    .work__item {
        width: 31%;
    }

    .item__movie {
        margin: 0;
    }

    .item__portfolio {
        margin: 0 3.5% 1em;
    }

    .main__image {
        display: block;
    }

    .footer ul {
        text-align: left;
    }
}